/* general defaults */
body {
  background-color: #F5F5F5;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.3em;
  line-height: 1.3;
  font-family: monospace;
}

/* style tweaks */
a:link { color: #0a7899; }
a:visited { color: #033a4a; }
code { font-size: 1em; }
h1 { font-size: 1.1em; }
h2 { font-size: 1em; }
.foot-license {
    margin-top: 16px;
    font-size: .7em;
    position: static;
    bottom: 0;
}

/* override bold/italic colors within permalinks */
a.permalink { text-decoration: none }
b,i { color: #000000 }

/* Responsive screen sizes */
@media only screen and (min-width: 992px) {
  body {
    width: 60%;
    margin: 0 auto;
  }
} 
@media only screen and (min-width: 600px) and (max-width: 991px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}

/* Smaller font on small screens */
@media only screen and (max-width: 599px) {
  body { font-size: 1.1em; }
}

/* margins around head/foot */
table.foot { margin-top: 3em; }
table.head { margin-bottom: 3em; }

/* scrollbars on the block-display content */
div.Bd-indent {
    border-left-color: gray;
    border-left-style: solid;
    border-left-width: 2px;
    border-radius: 5px;
    padding-left: 1em;
}

.Bd > pre {
    overflow-x: auto;
}

/* Bl-tag correctly with grid for blog.7 */
dl.Bl-tag {
    display: grid;
    grid-template-columns: max-content auto
}
dl.Bl-tag dd {
     margin-left: 16px;
     margin-bottom: 1em;
}

/* defaults from mandoc(1)'s inlined CSS */
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
.Nd, .Bf, .Op { display: inline; }
.Pa, .Ad { font-style: italic; }
.Ms { font-weight: bold; }
.Bl-diag > dt { font-weight: bold; }
code.Nm, .Fl, .Cm, .Ic, code.In, .Fd, .Fn, .Cd {
    font-weight: bold;
}

.jam-artists tr:nth-child(even) {
    background-color: #e3e3e3;
}
td.jam-artists, th.jam-artists, table.jam-artists {
    border: 1px solid black;
}
