<!-- {% include=post-head %} -->

<h3>Mar. 24, 2020: What's in a (domain) name?</h3>
<p>
I went through a phase this week of really wanting `karle.[original-tld]`.
Not for a business. Not for boosting my own webpage (it doesn't really
have much). Just for me.
</p>

<p>The results were... disheartening.</p>

<ul>
  <li>
    <b>karle.org:</b><br> Registered since 2004, no website, just an email
    DNS record.  WHOIS guard ensures I can't even reach out to who owns it.
  </li>
  <li>
    <b>karle.com:</b><br> For sale by owner on Uniregistry. Ok. Inquired.
    Owner wants a "serious 5 figure offer". Next!
  </li>
  <li>
    <b>karle.net:</b><br> Owned by <a href="https://realnames.com">RealNames</a>,
    a business seemingly centered around buying lastname.net domains and
    charging people like me to set up an email. Almost brilliant enough of a
    business to make me forgive their scumminess.  <i>Almost</i>. Nary an
    option to buy it.
  </li>
</ul>

<p>So here we are. Looks like karle.co for at least a little longer.</p>

<!-- {% include=post-tail %} -->
