body {
  background-color: #F5F5F5;
  font-family: sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1em;
  line-height: 1.3;
}

h1, h2, #nav {
  font-family: "Courier New", monospace;
}

ul {
    padding-left: 30px;
}

code {
    font-size: 1.3em;
}

@media only screen and (min-width: 992px) {
  #content {
    width: 60%;
    margin: 0 auto;
  }
} 

@media only screen and (min-width: 600px) and (max-width: 991px) {
  #content {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
}

a:link {
    color: #0a7899;
}

a:visited {
    color: #033a4a;
}

header {
    text-align: center;
    margin-bottom: 3em;
}

#nav > a {
    color: dimgray;
    text-decoration: none;
}

#nav > a:hover {
    color: #3f3f3f;
    text-decoration: underline;
}
