/* inlined via bin/genpage to limit network calls */
html {
  max-width: 85ch;
  margin: auto;
  font-size: 1em;
  font-family: sans-serif;
  background: #ffffea; /* acme yellow */
}
code { font-family: consolas, courier, monospace; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }
blockquote, pre {
  overflow: auto;
  padding: 10px;
  border: 2px solid black;
}
::selection {
  background: #eeeda0;
}
a {
  color: #020097;
  text-decoration: none;
}
a:visited {
  color: #400070;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
